body {
 color: #000;
 background-color: #eee;
 margin: 0;
}

div#header {
 color: #FFF;
 background-color: #159;
 text-align: center;
}

div#header h1 {
 margin-top: 0;
}

div#navigation {
 text-align: left;
}

div#navigation div.menu {
 vertical-align: top;
 display: inline-block;
}

div#content {
 width: 640px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 10px;
 margin-bottom: 10px;
 text-align: left;
 background-color: #ddd;
 border: 1px solid #aaa;
 padding: 8px;
}

div#content-wide {
 width: 98%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 10px;
 margin-bottom: 10px;
 text-align: left;
 background-color: #fff;
 border: 1px solid #aaa;
 padding: 8px;
}

table.user td.buttons {
 text-align: right;
}

table.user tr.offcolor {
 background-color: #cde;
}

table.userlist, table.user {
 margin-left: auto;
 margin-right: auto;
}

table.userlist th {
 padding: 4px;
}

table.userlist td {
 padding: 4px;
}
